  /* css that changes main header & navbar */

.navbar-brand {
font-size: 1.8rem;
background: #4aaaa5;
    
}

.navbar {

background: #ffffff;
}


a {
	font-family: 'Verdana', Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    background-color: #4aaaa5;

}




h1 {
	font-size: 24px;
	color: #4aaaa5;
	padding: 12px;
	padding-left: 35px;
	border-bottom: 5px solid #ccc;
	
  }


  /* css that changes content and images */
	body {
		background: url(../Images/grey-background.png);
		margin-right: auto;
		margin-left: auto;
		margin-top: 80px;
		margin-bottom: auto
		}
	

.container {
	width: 960px;
}
 

 
  .content {
		margin: auto;
	width:960px;
	background-color: #ffffff;
  }

 img {
	float: left;
	width: 250px;
	height: 250px;
	padding: 15px 15px 2px 15px;
}

/* css that changes footer */

footer {
	border-top: 15px solid #4aaaa5;
	padding-top: 10px;
}


/* css for fade in overlay needs to resize the images or rows?

.container1 {
	position: relative;
	width: 50%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: lightskyblue;
}

.container1:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%. -50%);
}

*/